body{
    background-color: black;
    margin: 0px;
}

.row{
    width: 20px;
    height: 20px;
    /*border: black solid thin;*/
    display: inline-block;
    /*margin: -2px;*/
}

.brick{
    background-color: blue;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: -2px;
}

.coin{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('coin.gif');
    background-position: center;
    background-repeat: no-repeat;
    margin: -2px;
}

.empty{
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: -2px;
}

#pacman{
    background: url('pacman.gif');
    height: 20px;
    width: 20px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: -2px;
}

#score{
    text-align: center;
    color: white;
    display: inline-block;
    border: white thin solid;
    padding: 20px;
}

#cherries{
    height: 20px;
    width: 20px;
    display:none;
    margin: -2px;
    background: url('cherry.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}
